#landing-container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    'header header header'
    'main main main'
    'main main main';
}

#landing-main { 
  width: 100%; 
  height: 100%; 
  grid-area: main;
  justify-content: center; 
  align-items: center;
}